#clients {
  background-color: var(--color-light-1);
  position: relative;

  .custom-shape-divider-top-1733275971 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 100px;
    }
    .shape-fill {
      fill: #dddddd;
    }
  }

  &.card-section {
    .inner-section {
      .container {
        .wrapper {
          display: flex;
          flex-direction: column;
          gap: 40px;
          .inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
            .top {
              display: flex;
              flex-direction: column;
              text-align: center;
              align-items: center;
              padding-top: 50px;
            }
            .mid {
              display: flex;
              flex-direction: column;
              align-items: center;
              .items {
                display: flex;
                flex-direction: row;
                gap: 20px;
                white-space: nowrap;
                justify-content: center;
                .item {
                  white-space: nowrap;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  text-align: center;
                  width: calc(85% / 4 - 40px);
                  border: 1px solid var(--transparent-dark-1);
                  @media (max-width: 840px) {
                    width: calc(100% / 3 - 40px);
                  }
                  @media (max-width: 540px) {
                    width: calc(100% / 2 - 40px);
                  }
                  .row {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    img {
                      width: auto;
                      height: 75px;
                    }
                  }
                }
              }
            }
            .bot {
              display: flex;
              flex-direction: column;
              align-items: center;
              .btn {
                border: 1px solid var(--cp1-light);
              }
            }
          }
          #subcription {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            color: var(--color-light-1);
            position: relative;
            @media (max-width: 767px) {
              width: 100%;
            }
            .items {
              background-color: var(--cp1-dark);
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              width: 75%;
              padding: 40px;
              left: 50%;
              top: 50%;
              border-radius: 5px;
              box-shadow: var(--box-shadow-3);
              @media (max-width: 767px) {
                width: 100%;
              }
              .item {
                width: max-content;
                label {
                  display: none;
                }
                input {
                  width: 300px;
                  height: 40px;
                  box-sizing: border-box;
                  padding: 5px;
                  border: none;
                  border-radius: 5px;
                  margin-right: 5px;
                }
                button {
                  border-radius: 5px;
                  width: 40px;
                  height: 40px;
                  padding: 5px;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  border: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
