#footer {
  background-color: var(--cp1-dark);
  color: var(--color-light-1);
  position: relative;
  padding-bottom: 20px;

  .custom-shape-divider-top-1732968867 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-top-1732968867 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
  }

  .custom-shape-divider-top-1732968867 .shape-fill {
    fill: #ffffff;
  }

  .inner-section {
    .container {
      .wrapper {
        .inner {
          display: flex;
          flex-direction: column;
          .groups {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
            border-bottom: 1px solid var(--transparent-light-1);
            padding-bottom: 3rem;
            @media (max-width: 767px) {
              grid-template-columns: repeat(3, 1fr);
            }
            @media (max-width: 540px) {
              grid-template-columns: 1fr;
            }
            .group {
              display: flex;
              flex-direction: column;
              gap: 10px;
              &:first-child {
                @media (max-width: 767px) {
                  grid-column: span 3;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  text-align: center;
                  padding-top: 2rem;
                }
                @media (max-width: 540px) {
                  grid-column: auto;
                }
              }
              a {
                color: var(--color-light-1);
              }
              ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;
                li {
                  width: 100%;
                  a {
                    width: 100%;
                    display: block;
                    color: var(--color-light-1);
                  }
                }
              }
            }
          }
          #copyright {
            padding-top: 3rem;
          }
        }
      }
    }
  }
}
