#teams {
  background-color: var(--cp3-dark);
  color: var(--color-light-1);
  .inner-section {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    .container {
      .wrapper {
        .inner {
          display: flex;
          flex-direction: column;
          gap: 40px;
          .top {
            h2 {
              span {
                &.highlight {
                  color: var(--cp2-light);
                }
              }
            }
          }
        }
      }
    }
    .bot {
      .groups {
        display: flex;
        overflow: hidden; // Menyembunyikan elemen yang keluar dari viewport
        position: relative;

        .group {
          display: flex;
          min-width: 100%; // Set minimal lebar agar setiap group memiliki lebar penuh
          flex-shrink: 0; // Mencegah group mengecil
          justify-content: space-around;

          .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            border: 3px dotted var(--transparent-light-1);
            border-radius: 10px;
            row-gap: 5px;
            margin: 0 20px;

            .photo {
              width: 80px;
              height: 80px;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
                filter: grayscale(60%);
              }
            }

            .name {
              width: max-content;
              margin: 0 auto;
            }

            .job {
              display: flex;
              flex-direction: column;
              align-items: center;
            }
          }
        }
      }

      // Animation keyframes
      //   @keyframes mm-carousel {
      //     from {
      //       transform: translateX(0);
      //     }
      //     to {
      //       transform: translateX(-100%);
      //     }
      //   }
    }
  }
}
