#welcome-box {
  position: fixed;
  bottom: 7rem;
  right: 2rem;
  z-index: 77;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--color-light-2);
  box-shadow: var(--box-shadow-3);
  width: 350px;
  transform: scale(0);
  transition: 0.3s ease-in-out all;

  &.active {
    transform: scale(1);
  }
  .wbox-closer {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 90%;
    cursor: pointer;
  }
  p {
    font-size: 80%;
  }
  .items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    font-size: 80%;
    box-sizing: border-box;
    .item {
      box-sizing: border-box;
      width: 100%;
      background-color: var(--cp1-light);
      padding: 4px;
      border-radius: 5px;
      a {
        width: 100%;
        display: block;
        color: var(--color-light-1);
      }
      &:hover {
        background-color: var(--cp1-dark);
        a {
          text-decoration: underline;
        }
      }
    }
  }
}

#chat {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  z-index: 77;
  background-color: var(--cp1-light);
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  transform: scale(0);
  transition: 0.3s ease-in-out all;
  border: 1px solid var(--transparent-light-1);
  &.active {
    transform: scale(1);
  }
  &:before {
    content: "";
    width: 100%;
    height: 16px;
    border-radius: 50%;
    background: var(--transparent-dark-1);
    position: absolute;
    left: 0;
    bottom: -16px;
    filter: blur(5px);
  }
  .inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      i {
        font-size: 1.7rem;
        color: var(--color-light-1);
      }
    }
  }
}
